body h1 {

    font-size: 25px;
    padding: 20px;
    text-align: center;

}



.container {
    border-radius: 10px;
    height: 40px;
    width: 600px;
    background-color: rgb(33, 37, 41);
    display: flex;
    justify-content: space-between;
    margin: 10px auto;

}

.container>p {
    padding: 10px;
    font-weight: bold;
    color: white;
}



.lista .produtos-1 {
    font-weight: bold;
    border-radius: 10px;
    height: 40px;
    width: 600px;
    background-color: rgb(248, 249, 250);
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.lista .produtos-1>p {
    padding: 10px;
}

.lista .produtos-2 {
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    height: 40px;
    width: 600px;
    background-color: rgb(248, 249, 250);
}

.lista .produtos-2>p {
    padding: 10px;
}

.lista .produtos-3 {
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    height: 40px;
    width: 600px;
    background-color: rgb(248, 249, 250);
}

.lista .produtos-3>p {
    padding: 10px;
}

.lista .produtos-4 {
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    height: 40px;
    width: 600px;
    background-color: rgb(248, 249, 250);
}

.lista .produtos-4>p {
    padding: 10px;
}

.lista .produtos-5 {
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    height: 40px;
    width: 600px;
    background-color: rgb(248, 249, 250);
}

.lista .produtos-5>p {
    padding: 10px;
}


.container-2 {

    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    height: 70px;
    width: 600px;
    background-color: rgb(233, 236, 239);
    
}

.container-2>p {
    padding: 25px;
}


button {
    color: white;
    display: flow-root;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    margin: 20px auto;
    height: 40px;
    width: 600px;
    background-color: rgb(32, 201, 151);
}
